.h1 {
    text-align: center;
}

.twitter-timeline {
  text-align: center;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.unsplash.com/photo-1574629810360-7efbbe195018?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  body {
    background-color: #DCDCDC;
  }
  
  input:valid {
    border: 2px solid black;
  }
  
  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, gainsboro, blue);
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  
  .sel_offer {
    text-align: center;
  }
  
  hr.style-eight {
    height: 5px;
    border: .5;
    color: black;
    }