<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Assignment Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Team 04</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ref.html">Refs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="games.html">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="assignment.html">Assignments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reports.html">Game Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="twitter.html">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="api/report1/form.php">Referee Report</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div id="offerApp" class="container">
        <div class="row align-items-start">
          <h1 class="display-1"> Assignments </h1>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Assignment ID</th>
            <th>Position</th>
            <th>Status</th>
            <th>Ref ID</th>
            <th>Game ID</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <tbody>
              <tr v-for="assignment in assignments">
                <td>{{ assignment.assignmentID }}</td>
                <td>{{ assignment.position }}</td>
                <td>{{ assignment.status }}</td>
                <td>{{ assignment.refID }}</td>
                <td>{{ assignment.gameID }}</td>
                <td>
                  <button type="button" v-on:click="handleEditOffer(assignment)"class="btn btn-primary btn-sm" >Edit</button>
              </td>
              <td>   <button type="button" v-on:click="postDeleteOffer(assignment)" class="btn btn-primary btn-sm">Delete</button></td>
              </tr>
          </tbody>
      </table>
      <hr class="style-eight">
    
      <h3 class="sel_offer">{{ selectedOffer === null ? "Add " : "Edit " }} Assignment</h3>
      <form v-on:submit.prevent="postOffer">
        <div class="mb-3">
          <label for="position" class="form-label">Position<span class="reqd">*</span></label>
          <input type="text" v-model="offerForm.position"
           class="form-control" id="position" placeholder="Position" required="required">
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status<span class="reqd">*</span></label>
          <select id="status" v-model="offerForm.status" class="form-select" required="required">
            <option value="" disabled="disabled">Status</option>
            <option value="Unassigned">Unassigned</option>
            <option value="Assigned">Assigned</option>
            <option value="Tentative">Tentative</option>
            <option value="Accepted">Accepted</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="refID" class="form-label">Ref ID<span class="reqd">*</span></label>
          <input type="number" v-model="offerForm.refID" class="form-control" 
          placeholder="Ref ID" id="refID"required="required">
        </div>
        <div class="mb-3">
          <label for="gameID" class="form-label">Game ID<span class="reqd">*</span></label>
          <input type="number" v-model="offerForm.gameID"
           class="form-control" placeholder="Game ID" id="gameID"required="required">
        </div>
        
        <button type="submit" class="btn btn-primary">{{ selectedOffer === null ? "Add " : "Edit " }} Assignment </button>
        <button type="button" class="btn btn-outline-secondary" 
           v-if="selectedOffer"
           v-on:click="handleResetEdit">Cancel Edit</button>
      </form>


      </div>
      </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="js/assignments.js"></script>
  </body>

</html>