<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Game Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Team 04</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ref.html">Refs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="games.html">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assignment.html">Assignments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reports.html">Game Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="twitter.html">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="api/report1/form.php">Referee Report</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div id="offerApp" class="container">
        <div class="row align-items-start">
          <h1 class="display-1"> Game Table </h1>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Game ID</th>
            <th>Field</th>
            <th>Time</th>
            <th>Date</th>
            <th>AssignmentID </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <tbody>
              <tr v-for="game in games">
                <td>{{ game.gameID }}</td>
                <td>{{ game.field }}</td>
                <td>{{ game.time }}</td>
                <td>{{ game.date }}</td>
                <td>{{ game.assignmentID }}</td>
                <td>
                  <button type="button" v-on:click="handleEditOffer(game)"class="btn btn-primary btn-sm" >Edit</button>
              </td>
              <td>   <button type="button" v-on:click="postDeleteOffer(game)" class="btn btn-primary btn-sm">Delete</button></td>
              </tr>
          </tbody>
      </table>
      
        <hr class="style-eight">
    
        <h3 class="sel_offer">{{ selectedOffer === null ? "Add " : "Edit " }} Game</h3>
        <form v-on:submit.prevent="postOffer">
          <div class="mb-3">
            <label for="field" class="form-label">Field Name<span class="reqd">*</span></label>
            <input type="text" v-model="offerForm.field"
             class="form-control" id="field" placeholder="Field Name" required="required">
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Game Time<span class="reqd">*</span></label>
            <input type="time" v-model="offerForm.time" class="form-control" placeholder="Time of Game" id="time"required="required">
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date<span class="reqd">*</span></label>
            <input type="date" v-model="offerForm.date" class="form-control" 
            placeholder="Date" id="date"required="required">
          </div>
          <div class="mb-3">
            <label for="assignmentID" class="form-label">AssignmentID<span class="reqd">*</span></label>
            <input type="number" v-model="offerForm.assignmentID"
             class="form-control" placeholder="AssignmentID" id="assignmentID"required="required">
          </div>
          
          <button type="submit" class="btn btn-primary">{{ selectedOffer === null ? "Add " : "Edit " }} Game </button>
          <button type="button" class="btn btn-outline-secondary" 
             v-if="selectedOffer"
             v-on:click="handleResetEdit">Cancel Edit</button>
        </form>


        <!-- <form v-on:submit.prevent="postNewBook">
          <div class="mb-3">
            <label for="title" class="form-label">Book Title </label>
            <input type="text" v-model="bookForm.title"
             class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Book Author </label>
            <input type="text" v-model="bookForm.author"
             class="form-control" id="author">
          </div>
          <div class="mb-3">
            <label for="yearPublished" class="form-label">Year Published</label>
            <input type="number" v-model="bookForm.yearPublished" class="form-control" id="yearPublished">
          </div>
          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher </label>
            <input type="text" v-model="bookForm.publisher"
             class="form-control" id="publisher">
          </div>
          <div class="mb-3">
            <label for="pageCount" class="form-label">Page Count</label>
            <input type="number" v-model="bookForm.pageCount" class="form-control" id="pageCount">
          </div>
          <div class="mb-3">
            <label for="MSRP" class="form-label">MSRP</label>
            <input type="number" v-model="bookForm.MSRP" class="form-control" id="MSRP">
          </div>
          <button type="submit" class="btn btn-primary">Add Book </button>
        </form> -->
      </div>
      </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="js/games.js"></script>
  </body>

</html>